/* MAIN */
html {position: relative; min-height: 100%;}

/*CONTEUDO*/
.container {max-width: 1300px; border-bottom: solid 5px rgb(93, 221, 131); position: relative; background: #FFF;}
.container:before, .container:after { content:""; position:absolute; z-index:-1; -webkit-box-shadow:0 0 20px rgba(0,0,0,1); -moz-box-shadow:0 0 20px rgba(0,0,0,1); box-shadow:0 0 20px rgba(0,0,0,1); top:70%; bottom:-5px; left:15px; right:15px; -moz-border-radius:900px / 10px; border-radius:900px / 10px;}
.container:after { right:10px; left:auto; -webkit-transform:skew(8deg) rotate(3deg); -moz-transform:skew(8deg) rotate(3deg); -ms-transform:skew(8deg) rotate(3deg); -o-transform:skew(8deg) rotate(3deg); transform:skew(8deg) rotate(3deg);}


.planos {color:#FFF;}
.planos div {height: 170px;}

.basico {background: #F00;}
.especializado {background: #000;}
.alertaDiabetes {background: #0FF;}

.item .toggleNext {height: 40px;}

.item .my-3 {border-bottom: 1px solid #CCC;}

.item .conteudo {background: #eee;}
.pointer {cursor: pointer;}

.margin-top-30 {margin-top: 30px;}
.margin-top-15 {margin-top: 15px;}
.margin-top-10 {margin-top: 10px;}
