// CORES
$color-primary: #01B0CD;
$color-light: #02CFFC;
$color-highlight: #FFD701;

$color-success: #00d219; 
$color-success-muted: #00d168; 
$color-success-light: #00d0b0;
$color-success-medium: #2ab45f;
$color-success-dark: #158972;
$color-success-highlight: #00D26A;

$color-muted-light: #b0b0b0;
$color-muted-medium: #8c8c8c;
$color-muted: #999;

$bg-primary: #12A3B8;
$bg-secundary: darken($bg-primary,10%);
$bg-medium: #19A89C;

$bg-highlight-soft: #00d328;
$bg-highlight-light: #34C23A;
$bg-highlight: #00ab38;

$bg-gray-light: #f1f1f1;
$bg-gray: #F4F4F4;

$bg-dark: #4D4D4D;
$bg-darker: #3C3C3C;
