@import url(../css/fontawesome-all.min.css);
.none {
  display: none;
}

.pointer {
  cursor: pointer;
}

@font-face {
  font-family: "simplon_oiheadline";
  src: url("../webfonts/simplonoi-headline-webfont.woff2") format("woff2"), url("../webfonts/simplonoi-headline-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "simplon_bpmedium";
  src: url("../webfonts/simplonbp-medium-webfont.woff2") format("woff2"), url("../webfonts/simplonbp-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.text-title {
  font-family: "simplon_oiheadline", sans-serif;
  font-weight: normal;
}

.medium {
  font-family: "simplon_bpmedium", sans-serif;
  font-weight: normal;
}

.bg-gradientDown {
  background-image: linear-gradient(-40deg, #02CFFC 0%, #00ab38 100%);
}

.btn {
  padding: .6rem 2rem;
  border-radius: 2px;
  color: #FFF;
}
.btn.btn-yellow {
  background: #FFD701;
  font-family: "simplon_bpmedium", sans-serif;
  font-weight: normal;
  color: #4D4D4D;
  border: 0 none;
}
.btn.btn-yellow:hover {
  background: #e7c200;
  color: #4D4D4D;
}
.btn.focus, .btn:focus {
  box-shadow: 0 0 0 0 transparent;
}

.toggleItem-default .toggleItem {
  padding: 1rem .5rem !important;
  border-bottom: 1px solid #CCC;
  display: flex;
  align-items: end;
}
.toggleItem-default .toggleItem i {
  color: #CCC;
  margin-left: auto !important;
}
.toggleItem-default .toggle-text {
  margin-right: 5px;
  font-size: 1.1rem;
}

.toggleItem.active .fa-chevron-down:before {
  content: "\f077";
}

/*PRICE BOX*/
.price-box div {
  float: left;
  color: #4D4D4D;
}
.price-box div span {
  display: block;
}
.price-box div span.big-number {
  font-size: 6rem;
  line-height: 75px;
  margin-left: .5rem;
  margin-right: .5rem;
}
.price-box div span.periodicity {
  font-size: 1.5rem;
}
.price-box div span.currency {
  font-size: 3rem;
  line-height: 50px;
}
.price-box div span.small-number {
  font-size: 3rem;
  line-height: 38px;
}
.price-box div span.generic-text {
  margin-top: -5px;
  margin-bottom: 5px;
}

#plans-container .card {
  border-color: #f1f1f1;
  margin-top: -1px;
}
#plans-container .row > div:nth-child(2) {
  border: solid #f1f1f1;
  border-width: 0 1px;
}
#plans-container .btn {
  padding: .375rem 0;
}
#plans-container .toggleItem {
  padding: 0 .5rem;
  min-height: 60px;
  align-items: center;
}
#plans-container .toggleItem .toggle-text {
  line-height: 20px;
}
@media (min-width: 768px) {
  #plans-container .card-group:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 5px;
    background-image: linear-gradient(-40deg, #02CFFC 0%, #00ab38 100%);
  }
  #plans-container .card-group:before {
    content: '';
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 0px;
    box-shadow: 0 8px 10px 0 #585858;
    height: 20px;
    border-radius: 50%;
  }
}
